// Variables
$font-family-base: 'Montserrat Alternates', 'Roboto', 'Oxygen', 'Ubuntu';
$font-size-base: 16px;
$primary-dark: black;

// Mixins
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-weight: lighter;
  font-size: $font-size-base;
  background: rgb(233, 233, 233);
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 90vh;
  margin-top: 4rem;
}

h1, h2, h3 {
  font-family: $font-family-base;
}

img {
  height: auto;
  max-width: 100%;
}

// Reset styles
li {
  @include reset-list;
}

// Link and button styles
a, button {
  text-decoration: none;
  color: $primary-dark;
}

// Form styles
input, textarea, select {
  font-size: $font-size-base;
  font-family: $font-family-base;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}
